USE [MASTER]

/****** Object:  Database [orbis-api-sql]    Script Date: 14/10/2024 19:20:35 ******/
CREATE DATABASE [orbis-api-sql] ;
GO

--ALTER DATABASE [orbis-api-sql] SET ENCRYPTION ON
GO

/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO

-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO


USE [orbis-api-sql]

/****** Object:  Table [dbo].[Activities]    Script Date: 14/10/2024 19:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagesId] [int] NOT NULL,
	[GroupsId] [int] NOT NULL,
	[CategoriesId] [int] NULL,
	[MessagesId] [nvarchar](max) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Distance] [varchar](max) NOT NULL,
	[Start_date] [datetimeoffset](7) NOT NULL,
	[End_date] [datetimeoffset](7) NOT NULL,
	[Start_time] [time](7) NULL,
	[End_time] [time](7) NULL,
	[Frequency] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Created_by] [nvarchar](max) NOT NULL,
	[Created_date] [datetimeoffset](7) NOT NULL,
	[Modified_by] [nvarchar](max) NULL,
	[Modified_date] [datetimeoffset](7) NULL,
	[Active] [int] NOT NULL,
	[UserId] [int] NULL,
	[Location] [nchar](100) NULL,
	[JoinActivitie] [int] NULL,
	[JoinActivitieId] [nvarchar](max) NULL,
	[MaxJoin] [int] NULL,
	[Likes] [int] NULL,
	[LikesUserId] [nvarchar](max) NULL,
	[Views] [int] NULL,
	[Available] [bit] NULL,
	[Reporting] [int] NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Prefix] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Created_by] [nvarchar](50) NOT NULL,
	[Created_date] [datetimeoffset](7) NOT NULL,
	[Modified_by] [nvarchar](50) NULL,
	[Modified_date] [datetimeoffset](7) NULL,
	[Active] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Charities]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charities](
		[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagesId] [int] NOT NULL,
	[GroupsId] [int] NOT NULL,
	[CategoriesId] [int] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Distance] [varchar](max) NOT NULL,
	[Start_date] [datetimeoffset](7) NOT NULL,
	[End_date] [datetimeoffset](7) NOT NULL,
	[Start_time] [time](7) NULL,
	[End_time] [time](7) NULL,
	[Frequency] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Created_by] [nvarchar](max) NOT NULL,
	[Created_date] [datetimeoffset](7) NOT NULL,
	[Modified_by] [nvarchar](max) NULL,
	[Modified_date] [datetimeoffset](7) NULL,
	[Active] [int] NOT NULL,
	[UserId] [int] NULL,
	[Location] [nchar](100) NULL,
	[Likes] [int] NULL,
	[LikesUserId] [nvarchar](max) NULL,
	[Views] [int] NULL,
	[UsersDonationId] [nvarchar](max) NULL,
	[Currency] [decimal](18, 0) NULL,
	[Donate] [nvarchar](max) NULL,
	[Available] [bit] NOT NULL,
	[Goal] [int] NULL,
	[Transferred] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Charities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clean]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clean](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagesId] [int] NOT NULL,
	[CleanImagesId] [nvarchar](50) NULL,
	[GroupsId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Distance] [varchar](max) NOT NULL,
	[Start_date] [datetimeoffset](7) NOT NULL,
	[End_date] [datetimeoffset](7) NOT NULL,
	[Start_time] [time](7) NULL,
	[End_time] [time](7) NULL,
	[Frequency] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Created_by] [nvarchar](max) NOT NULL,
	[Created_date] [datetimeoffset](7) NOT NULL,
	[Modified_by] [nvarchar](max) NULL,
	[Modified_date] [datetimeoffset](7) NULL,
	[Active] [int] NOT NULL,
	[UserId] [int] NULL,
	[Location] [nchar](100) NULL,
	[Likes] [int] NULL,
	[LikesUserId] [nvarchar](max) NULL,
	[Views] [int] NULL,
	[Available] [bit] NULL,
	[IsCleaned] [bit] NULL,
	[OnChecking] [bit] NULL,
 CONSTRAINT [PK_Clean] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gone]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagesId] [int] NOT NULL,
	[EventDateTime] [datetimeoffset](7) NOT NULL,
	[UserId] [int] NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[RoomId] [nvarchar](10) NULL,
	[MessagesId] [nvarchar](max) NULL,
	[Name] [nvarchar](50) NULL,
	[Informations] [nvarchar](max) NULL,
	[Reporting] [int] NULL,
	[Available] [bit] NULL,
	[Joined] [nvarchar](max) NULL,
 CONSTRAINT [PK_Gone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoogleTokens]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoogleTokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[access_token] [nvarchar](max) NOT NULL,
	[expires_in] [int] NOT NULL,
	[refresh_token] [nvarchar](max) NULL,
	[scope] [nvarchar](max) NULL,
	[token_type] [nvarchar](max) NULL,
	[id_token] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Created_by] [nvarchar](50) NOT NULL,
	[Created_date] [datetimeoffset](7) NOT NULL,
	[Modified_by] [nvarchar](50) NULL,
	[Modified_date] [datetimeoffset](7) NULL,
	[Active] [int] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoriesId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Prefix] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Path] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Blob] [nvarchar](max) NOT NULL,
	[Created_by] [nvarchar](50) NOT NULL,
	[Created_date] [datetimeoffset](7) NOT NULL,
	[Modified_by] [nvarchar](50) NULL,
	[Modified_date] [datetimeoffset](7) NULL,
	[Active] [int] NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[Donation] [bit] NULL,
	[Client] [bit] NULL,
	[AudioFilePath] [nvarchar](max) NULL,
	[AttachmentId] [int] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOS]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventDateTime] [datetimeoffset](7) NOT NULL,
	[UserId] [int] NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[AudioFilePath] [nvarchar](max) NULL,
	[RoomId] [nvarchar](10) NULL,
	[MessagesId] [nvarchar](max) NULL,
	[Reporting] [int] NULL,
	[Available] [bit] NULL,
	[Joined] [nvarchar](max) NULL,
 CONSTRAINT [PK_SOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talk]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupsId] [int] NOT NULL,
	[MessagesId] [nvarchar](max) NULL,
	[Categories] [nvarchar](100) NOT NULL,
	[Language] [nvarchar](max) NULL,
	[Start_date] [datetimeoffset](7) NOT NULL,
	[End_date] [datetimeoffset](7) NOT NULL,
	[Start_time] [time](7) NULL,
	[End_time] [time](7) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[Frequency] [nvarchar](max) NOT NULL,
	[Active] [int] NOT NULL,
	[UserId] [int] NULL,
	[Summary] [nvarchar](max) NULL,
	[Available] [bit] NULL,
	[Joined] [int] NULL,
 CONSTRAINT [PK_Talk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/10/2024 19:17:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagesId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Groups] [nvarchar](50) NOT NULL,
	[Created_by] [nvarchar](50) NOT NULL,
	[Created_date] [datetimeoffset](7) NOT NULL,
	[Modified_by] [nvarchar](50) NULL,
	[Modified_date] [datetimeoffset](7) NULL,
	[Blocked_Users] [nvarchar](max) NULL,
	[Report_Count] [int] NULL,
	[JoinActivitieId] [nvarchar](max) NULL,
	[LikedByUsers] [nvarchar](max) NULL,
	[Active] [int] NOT NULL,
	[IdentityId] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PasswordSalt] [nvarchar](max) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Number] [nvarchar](50) NULL,
	[Donate] [nvarchar](max) NULL,
	[Blocked] [bit] NULL,
	[Point] [int] NULL,
	[Admin] [bit] NULL,
	[Cleaned] [int] NULL,
	[ActivitiesJoined] [int] NULL,
	[Talked] [int] NULL,
	[SOSsynonymes] [nvarchar](max) NULL,
	[Password] [varchar](max) NULL,
	[Role] [varchar](100) NULL,
	[Subscriber] [bit] NULL,
	[StripeSubscriptionId] [varchar](255) NULL,
	[SessionId] [nvarchar](250) NULL,
	[StripeAccountId] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[LockoutEnabled] [bit] NULL,
	[AccessFailedCount] [int] NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiryTime] [datetime] NULL,
	[DeviceToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__A9D105346AB4CCDC] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Categories] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Categories]
GO


IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE TABLE [AspNetRoles] (
        [Id] nvarchar(450) NOT NULL,
        [Name] nvarchar(256) NULL,
        [NormalizedName] nvarchar(256) NULL,
        [ConcurrencyStamp] nvarchar(max) NULL,
        CONSTRAINT [PK_AspNetRoles] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE TABLE [AspNetUsers] (
        [Id] nvarchar(450) NOT NULL,
        [UserName] nvarchar(256) NULL,
        [NormalizedUserName] nvarchar(256) NULL,
        [Email] nvarchar(256) NULL,
        [NormalizedEmail] nvarchar(256) NULL,
        [EmailConfirmed] bit NOT NULL,
        [PasswordHash] nvarchar(max) NULL,
        [SecurityStamp] nvarchar(max) NULL,
        [ConcurrencyStamp] nvarchar(max) NULL,
        [PhoneNumber] nvarchar(max) NULL,
        [PhoneNumberConfirmed] bit NOT NULL,
        [TwoFactorEnabled] bit NOT NULL,
        [LockoutEnd] datetimeoffset NULL,
        [LockoutEnabled] bit NOT NULL,
        [AccessFailedCount] int NOT NULL,
        CONSTRAINT [PK_AspNetUsers] PRIMARY KEY ([Id])
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE TABLE [AspNetRoleClaims] (
        [Id] int NOT NULL IDENTITY,
        [RoleId] nvarchar(450) NOT NULL,
        [ClaimType] nvarchar(max) NULL,
        [ClaimValue] nvarchar(max) NULL,
        CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [AspNetRoles] ([Id]) ON DELETE CASCADE
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE TABLE [AspNetUserClaims] (
        [Id] int NOT NULL IDENTITY,
        [UserId] nvarchar(450) NOT NULL,
        [ClaimType] nvarchar(max) NULL,
        [ClaimValue] nvarchar(max) NULL,
        CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY ([Id]),
        CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE TABLE [AspNetUserLogins] (
        [LoginProvider] nvarchar(450) NOT NULL,
        [ProviderKey] nvarchar(450) NOT NULL,
        [ProviderDisplayName] nvarchar(max) NULL,
        [UserId] nvarchar(450) NOT NULL,
        CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY ([LoginProvider], [ProviderKey]),
        CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE TABLE [AspNetUserRoles] (
        [UserId] nvarchar(450) NOT NULL,
        [RoleId] nvarchar(450) NOT NULL,
        CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY ([UserId], [RoleId]),
        CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [AspNetRoles] ([Id]) ON DELETE CASCADE,
        CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE TABLE [AspNetUserTokens] (
        [UserId] nvarchar(450) NOT NULL,
        [LoginProvider] nvarchar(450) NOT NULL,
        [Name] nvarchar(450) NOT NULL,
        [Value] nvarchar(max) NULL,
        CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY ([UserId], [LoginProvider], [Name]),
        CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
    );
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE INDEX [IX_AspNetRoleClaims_RoleId] ON [AspNetRoleClaims] ([RoleId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    EXEC(N'CREATE UNIQUE INDEX [RoleNameIndex] ON [AspNetRoles] ([NormalizedName]) WHERE [NormalizedName] IS NOT NULL');
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE INDEX [IX_AspNetUserClaims_UserId] ON [AspNetUserClaims] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE INDEX [IX_AspNetUserLogins_UserId] ON [AspNetUserLogins] ([UserId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE INDEX [IX_AspNetUserRoles_RoleId] ON [AspNetUserRoles] ([RoleId]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    CREATE INDEX [EmailIndex] ON [AspNetUsers] ([NormalizedEmail]);
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    EXEC(N'CREATE UNIQUE INDEX [UserNameIndex] ON [AspNetUsers] ([NormalizedUserName]) WHERE [NormalizedUserName] IS NOT NULL');
END;
GO

IF NOT EXISTS (
    SELECT * FROM [__EFMigrationsHistory]
    WHERE [MigrationId] = N'20241017171339_CreateIdentitySchema'
)
BEGIN
    INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
    VALUES (N'20241017171339_CreateIdentitySchema', N'8.0.10');
END;
GO

COMMIT;
GO

